body {
	background: wheat;
	color: purple;
}

.button0 {
        font: bold 15px Arial;
        text-decoration: none;
        color: black;
        padding: 2px 6px 2px 6px;
        border: 1px solid green;
        border-radius: 50%;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonY {
        @extend .button0;
        background-color: Yellow;
}

.buttonR {
        @extend .button0;
        background-color: Red;
}

.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


