<!DOCTYPE html>
   <head>
      <title>Raspberry Pi Remote</title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>
   <body>
<table style="width:100%">
  <tr>
    <th><a href="/tv/on" class="button0"><img src="../static/tv_{{ tv }}.png" alt="{{ tv }}"></a></th>
    <th><a href="/dvd/on" class="button0"><img src="../static/dvd_{{ dvd }}.png" alt="{{ dvd }}"></a></th>
  </tr>
  <tr>
    <th><a href="/set_top_box/on" class="button0"><img src="../static/set_top_box_{{ set_top_box }}.png" alt="{{ set_top_box }}"></a></th>
    <th><a href="/projector/on" class="button0"><img src="../static/projector_{{ projector }}.png" alt="{{ projector }}"></a></th>
  </tr>
    <th><a href="/ac/on" class="button0"><img src="../static/ac_{{ ac }}.png" alt="{{ ac }}"></a></th>
    <th><a href="/fan/on" class="button0"><img src="../static/fan_{{ fan }}.png" alt="{{ fan }}"></a></th>
</table>
   </body>
</html>

