<html>
<head>
	<title>Smart Home</title>
	<link rel="stylesheet" href="../static/bs.css">
	<link rel="stylesheet" href="../static/master.css">
	<script src="../static/jq.js"></script>
  	<script src="../static/bs.js"></script>
</head>
<body>
	<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Hall</a></li>
  <li><a data-toggle="tab" href="#menu1">Kitchen</a></li>
  <li><a data-toggle="tab" href="#menu2">Toilet</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <table>
      <tr><td><img src="../static/ac_1.png"/><td><td><img src="../static/tv_0.png"/><td></tr>
    </table>
  </div>
  <div id="menu1" class="tab-pane fade">
    <table border=1>
      <tr><td><img src="../static/fan_0.png"/><td><td><img src="../static/dvd_1.png"/><td></tr>
    </table>
  </div>
  <div id="menu2" class="tab-pane fade">
    <table border=1>
      <tr><td><img src="../static/set_top_box_1.png"/><td><td><img src="../static/projector_0.png"/><td></tr>
    </table>
  </div>
</div>	
</body>
</html>
